<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class='contenedor'>
        <section class='titulo animate-left'>
            <app-titulos texto="Soluciones jurídicas integrales" color="black"></app-titulos>
        </section>

        <div class="contenido">
            <div class="servicio">

                <img class="animate-dos" style="width: 100px;" src="../../../assets/s4-1ico.png"
                    alt="icono Arbitraje y mediación">
                <p class="animate-uno"><app-titulo-secundario text="Arbitraje y mediación" color="#8d9693"
                        tamanio="300px"></app-titulo-secundario></p>
                <p class="descripcion animate-tres">Describe aquí los servicios de tu empresa de manera breve.</p>

            </div>

            <div class="servicio">
                <img class="animate-dos" style="width: 60px;" src="../../../assets/s4-4ico.png" alt="icono Inmigración">
                <p class="animate-uno"><app-titulo-secundario text="Inmigración" color="#8d9693"
                        tamanio="300px"></app-titulo-secundario></p>
                <p class="descripcion animate-tres">Describe aquí los servicios de tu empresa de manera breve.</p>

            </div>


            <div class="servicio">
                <img class="animate-dos" style="width: 60px;" src="../../../assets/s4-2ico.png"
                    alt="icono Arbitraje y mediación">
                <p class="animate-uno"><app-titulo-secundario text="Defensa penal" color="#8d9693"
                        tamanio="300px"></app-titulo-secundario></p>
                <p class="descripcion animate-tres">Describe aquí los servicios de tu empresa de manera breve.</p>

            </div>

            <div class="servicio">
                <img class="animate-dos" style="width: 60px;" src="../../../assets/s4-5ico.png" alt="icono Inmigración">
                <p class="animate-uno"><app-titulo-secundario text="Accidentes personales" color="#8d9693"
                        tamanio="300px"></app-titulo-secundario></p>
                <p class="descripcion animate-tres">Describe aquí los servicios de tu empresa de manera breve.</p>

            </div>

            <div class="servicio">
                <img class="animate-dos" style="width: 60px;" src="../../../assets/s4-3ico.png"
                    alt="icono Arbitraje y mediación">
                <p class="animate-uno"><app-titulo-secundario text="Derecho familiar" color="#8d9693"
                        tamanio="300px"></app-titulo-secundario></p>
                <p class="descripcion animate-tres">Describe aquí los servicios de tu empresa de manera breve.</p>

            </div>
            <div class="servicio">
                <img class="animate-dos" style="width: 60px;" src="../../../assets/s4-6ico.png" alt="icono Inmigración">
                <p class="animate-uno"><app-titulo-secundario text="Planeación fiscal y patrimonial" color="#8d9693"
                        tamanio="300px"></app-titulo-secundario></p>
                <p class="descripcion animate-tres">Describe aquí los servicios de tu empresa de manera breve.</p>

            </div>




        </div>


    </div>
</body>

</html>