<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class=epigrafe>
        <img src="./../../../assets/logo.png" alt="">
        <h2>Hernandez y asociados</h2>
    </div>

    <h1>Protege tus derechos</h1>
    <h3>Obtén la asesoría legal que necesitas en Hernandez y socios</h3>
    <div class='posicionB'>
        <app-botones [text]="'Reserva tu asesoría'" [color]="'white'" (clicked)="funcionPrueba()"></app-botones>
    </div>

</body>

</html>