<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class='contendor'>
        <div class = 'titulo animate-left'>
            <app-titulos  texto="Por qué nosotros" color="white"></app-titulos>

        </div>

        <section class="informacion">
            <p class="animate-uno"><app-titulo-secundario text = "Conocemos y entendemos la ley" color="aliceblue" tamanio="250px"></app-titulo-secundario></p>

            <p class="animate-dos"><app-titulo-secundario text = "Tenemos años de experiencia legal" color="aliceblue" tamanio="250px"></app-titulo-secundario></p>

            <p class="animate-tres"><app-titulo-secundario text = "Somos tus defensores" color="aliceblue" tamanio="210px"></app-titulo-secundario></p>

            <p class="animate-cuatro"><app-titulo-secundario text = "Brindamos la asesoría que necesitas" color="aliceblue" tamanio="250px"></app-titulo-secundario></p> 
        </section>

        <section class = "fotos">
            <img src="./../../../assets/photo-1.png" alt="ilustracion abogado">
            <img src="./../../../assets/photo-2.png" alt="ilustracion abogado">

        </section>

    </div>
</body>

</html>