<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <section class="columna1 animate-left">
            <img src="../../../assets/photo-3.png" alt="imagen de logo">
        </section>

        <section class="columna2 animate-uno">
            <div class="titulo">
                <app-titulos texto="Reserva tu hora" color="white"></app-titulos>

            </div>
            <div class="contenido animate-dos">
                <p>
                    Oficina principal
                    Calle 123, Colonia, Ciudad, Estado C.P. 12345
                </p>

                <p>
                    Tel. (55) 1234 5678
                    Correo: hola@sitioincreible.com
                    Redes: @sitioincreible
                </p>
            </div>
            <br><br>
            <div>
                <app-botones color="white"  text="Reserva tu asesoría"></app-botones>
            </div>

        </section>

    </div>
</body>

</html>