<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="contenedor">
        <section class='titulo animate-left'>
            <app-titulos texto="Testimonios" color="black"></app-titulos>

            <app-titulo-secundario class="animate-dos" text="Lo que nuestros clientes dicen" color="#8d9693"></app-titulo-secundario>

        </section>

        <div class="testimonios">


            <div class="columnas">
                <section class="texto animate-uno">
                    <p>Incluye testimonios de clientes para aumentar la credibilidad de tus servicios. Las
                        recomendaciones son valiosas y los comentarios de quienes ya los han probado son invaluables.
                    </p>
                </section>

                <section>
                    <app-titulo-secundario class="animate-dos" text="- César Guerrero" color="#8d9693"></app-titulo-secundario>

                </section>
            </div>

            <div class="columnas">
                <section class="texto animate-uno">
                    <p>Incluye testimonios de clientes para aumentar la credibilidad de tus servicios. Las
                        recomendaciones son valiosas y los comentarios de quienes ya los han probado son invaluables.
                    </p>

                </section>

                <section>
                    <app-titulo-secundario class="animate-dos"  text="-  Elena Ortega" color="#8d9693"></app-titulo-secundario>

                </section>
            </div>

            <div class="columnas">
                <section class="texto animate-uno">
                    <p>Incluye testimonios de clientes para aumentar la credibilidad de tus servicios. Las
                        recomendaciones son valiosas y los comentarios de quienes ya los han probado son invaluables.
                    </p>

                </section>

                <section>
                    <app-titulo-secundario class="animate-dos" text="- Julia Silva" color="#8d9693"></app-titulo-secundario>
                </section>
            </div>


        </div>


    </div>

</body>

</html>